body
{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1
{
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #ea5455;
  line-height: 1;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;;
  color: #ea5455;
  font-weight: normal;
}

h3
{
  font-family: 'Montserrat', sans-serif;
  color: #2d4059;
}

a
{
  color: #2d4059;
  font-family: 'Montserrat', sans-serif;
}


hr
{
  border-style: dotted none none;
  border-color: #e5e5e5;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

p
{
  line-height: 2;
}

.top-container
{
  background-color: #e5e5e5;
  position: relative;
  padding-top: 100px;
}

.middle-container
{
  margin: 100px 0;
}

.bottom-container
{
  background-color: #ea5455;
  position: relative;
  padding: 50px;
  line-height: 2;
}

.top-tech-icon
{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-tech-icon
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.circular
{
  border-radius: 100%;
}

.profile
{
  margin: auto;
  width: 50%;
  line-height: 2;
}

.profile-picture
{
  width: 150px;
  height: 150px;
}

.intro
{
  width: 60%;
  margin: auto;
  font-weight: bold;
}

.skill-row
{
  margin: 60px auto 100px;
  width: 50%;
  text-align: left;
}

.code-img
{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.android-img
{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me-btn
{
  background-color: #EA5455;
  border: none;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 100;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
  width: 8%;
}

.contact-me-btn:hover
{
  background-color: #2d4059;
  color: #FFFFFF;
}

.section-heading
{
  margin-bottom: 50px;
}

.footer-link
{
  color: #bf3b3b;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
}

.footer-link:hover
{
  color: #2d4059;
}

.footer-link-2
{
  color: #bf3b3b;
  text-decoration: none;
  margin: 20px 0;
  font-weight: bold;
  font-size: 0.75rem;
}

.footer-link-2:hover
{
  color: #2d4059;
}

.copy-right
{
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 20px 0;
}

.icons-credit
{
  color: #2d4059;
  font-size: 0.75rem;
}
